.form{
  &__login{
    display:flex;
    @media only screen and (max-width: 47em){
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
    }
  }
  &__group{
    padding: .5rem;
    &:not(:last-of-type){
      margin-right: 1rem;
    }
    @media only screen and (max-width: 47em){
      margin:0;

    }
  }
  &__input{
    font-family: inherit;
    font-size: 1.4rem;
    color: inherit;
    padding: .7rem;
    box-shadow: 0 2rem 5rem $shadow-background;

    /*
      adding modifier
    */
    &--1{
      border-radius: 10px;
      border: .5rem solid var(--color-secondary);
      &:focus{
          border: .5rem solid var(--color-primary);
      }
    }

    &:focus{
      outline: none;
      box-shadow: 0 1rem 3rem $shadow-background;
    //  width:100%;
    }

    &::-webkit-input-placeholder{
     color: var(--color-grey);
    }
  }



  &__register{
    &-box{
      position: absolute;
      top: 40%;
      left: 70%;
      transform: translate(0%, -50%);
      text-align: center;
      border-radius: 4px;
      width: 300px;
      padding: 2rem;
    //  backgound-color: orange;
    }
    // &-transparent{
    //   background-color:transform;
    // }
    &-group:not(:last-child){
      margin-bottom: 2rem;
    }
    &-input{
      // outline: 5px solid white;
    font-size: 1.4;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    // background-color: var(--color-white);
    background-color: rgba(#8B4000, .7); // rust
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display:block;
    transition: all .5s;
      &:focus{
         outline:none;
         box-shadow: 0 1rem 2rem rgba(var(--color-black), .15);
         border-bottom: 3px solid var(--color-tertiary);
      }
      &::-webkit-input-placeholder{
         color: var(--color-grey);
      }
      &:focus:invalid{
        border-bottom: 3px solid var(--color-secondary-dark);
      }
    }
    &-label{
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: 2rem;
      margin-top: .7rem;
      display:  block;
      transition: all .3s;
    }
    &-input:placeholder-shown + &__label{
    // animate the visibility
    opacity: 0;
    // elements gone
    visibility: hidden;
    transform: translateY(-4rem);
    }
  }

}
