.profile{
  &__image-box{
    // width: 50rem;
    height: 50rem;
    @media only screen and (max-width: 600px){
     // flex-direction: column;
     // width: 100%;
     align-self: center;
    }
  }
  &__image{
    width:200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__content{
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: 600px){
     flex-direction: column;
    }

  }
  &__fields{
    // background-color: blue;
    padding: 2rem;

    // @media only screen and (max-width: 600px){
    //    align-self: center;
    //    // display:flex;
    // }
  }
  &__fields-group{
    &:not(:last-child){
      margin-bottom: 2rem;
      // @media only screen and (max-width: 600px){
      //    margin-bottom: 0;
      //    margin-right: 2rem;
      // }
    }
    // @media only screen and (max-width: 600px){
    //  width: 100%;
    //  margin: 0 auto;
    //  display:block
    // }
  }
  &__fields-input{
   padding: 1rem 2rem;
   border-radius: 4px;
   border: none;
   background-color: #eee;
   // font-size: inherit;
   font-size: 1.4rem;
   color:inherit;
   @media only screen and (max-width: 600px){
    width: 60%;
    margin: 0 auto;
    display:block
   }

  }

  &__fields-input:focus{
    outline:none;
  }
  &__fields-upload{
    background-color:pink;
  }
}
