/*
  Universally reset
*/
//
// font-family: 'Roboto Mono', monospace;
// font-family: 'Open Sans', sans-serif;

*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px
}
body{
    padding: 2.5rem;

}


::selection{
  background-color: #000;
  color: #fff;
}
