.heading__primary{
  &--main{
    text-transform: uppercase;
    display:block;
    height: 15rem;
    position:relative;
    letter-spacing: 5rem;
  }
  &--sub{
    display:block;
    text-transform: uppercase;
    color: $color-secondary;
    height: 5rem;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1.4rem;
  }
}

.heading__secondary{
  color: orangered;
  font-size: 4rem;
  letter-spacing: .7rem;
  font-weight: 400;
  text-align: center;
}

.header__quaternary{
  color: #A55D35;
  font-size: 2em;
  letter-spacing: .2em;
  font-weight: 900;
  text-align: center;
  // font-family: $font-Rubik;
  font-style: italic;
}

.svg__heading{
// border:2px  solid black;
width: 100%;
height: 100%;
}
.svg__text--main{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 15rem;
    object-fit: cover;
  clip-path: url(#svgTextPath);
}
