.search{
  height: 4.5rem;
  background-color: pink;
  width:100%;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  border-bottom: 1px solid #eee;
}

.search__icon{
  height: 2.5rem;
  width: 2.5rem;
  fill: #ddd;
  // border-radius: 50%;
}
.search__icon-btn{
  // margin-left: -4rem;
  transform: translateX(-3.5rem);
  background-color: #eee;
  border: none;
  border-radius: 50px;
  cursor:pointer;
  &:focus{
    outline:none;
  }
  &:active{
    transform: translateY(2px);
  }
}
.search__name{
  // background-color: orangered;
  flex: 0 1 400px;
  margin-right: 1rem;
  display: flex;
  justify-content:center;

  // position: relative;
// margin-right: auto;
// justify-content: flex-end;
// padding: 1rem 2rem;
 &--input{
  padding: .96rem 1.5rem;
  width:75%;
  border-radius: 50px;
  border: none;
  transition: all .2s;
  font-size:inherit;
  color: #aaa;
  background-color: #eee;
  box-shadow: 0 .5rem 1rem rgba(#000, .4);
  &:hover{
    width: 100%;
  }
   &:focus{
     outline:none;
   }
 }
}
.search__name--input:focus + .search__icon-btn .search__icon{
  fill: #ccc;
}
.search__name--input:hover+ .search__icon-btn .search__icon{
  fill: #ccc;
}

.search__filter{
  // background-color: red;
  // padding: 2rem;
  width: 100px;
}
.search__btn{
  width: 100%;
  height: 80%;
  background-color:#eee;
  border-radius: 3px;
  border:none;
  position: relative;
  box-shadow: 0 .6rem 1.2rem rgba(#000, .3);
  transition: all .2s;
  color: #999;
  &:focus,&:active{
    outline: none;
    box-shadow: 0 .5rem 1rem rgba(#000, .4);
  }
}


.search__btn::before{
  content: "";
  // display:block;
  // position
  position:absolute;
  bottom: 50%;
  right:0;
  transform: translate(0,50%);

  // arrow_down
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #777;
}


/// when they  hover over the arrow they se the seach chooses
