*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px

  @media only screen and (max-width: 1200px){
    font-size: 62.5%;
  }
  @media only screen and (max-width: 900px){
    font-size: 50%;
  }
  @media only screen and (max-width: 600px){
   font-size: 40%;
  }
}
body{}
