.heading__primary{
  color: pink;
  font-size: 6rem;
  letter-spacing: 1.2rem;
  font-weight: 400;
  text-align: center;
}

.heading__secondary{
  color: orangered;
  font-size: 4rem;
  letter-spacing: .7rem;
  font-weight: 400;
  text-align: center;
}
.header__quaternary{
  color: #777;
  font-size: 2em;
  letter-spacing: .2em;
  font-weight: 900;
  text-align: center;
}
