.gear{
  display: flex;
  justify-content: space-between;
  &__box{
    width: 100px;
    height: 200px;
  }
  &__image--1{
    width: 100px;
    height: 200px;
  }
  &__image--2{
    width: 100px;
    height: 200px;
  }
}
