*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 40%; } }

body {
  background-color: #eee;
  font-family: "Rubik", sans-serif;
  padding: 0 2rem; }

::selection {
  color: #000;
  background-color: #fff; }

::-moz-selection {
  color: #000;
  background-color: #fff; }

.heading__primary--main {
  text-transform: uppercase;
  display: block;
  height: 15rem;
  position: relative;
  letter-spacing: 5rem; }

.heading__primary--sub {
  display: block;
  text-transform: uppercase;
  color: #800000;
  height: 5rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 1.4rem; }

.heading__secondary {
  color: orangered;
  font-size: 4rem;
  letter-spacing: .7rem;
  font-weight: 400;
  text-align: center; }

.header__quaternary {
  color: #A55D35;
  font-size: 2em;
  letter-spacing: .2em;
  font-weight: 900;
  text-align: center;
  font-style: italic;
  margin-bottom: 2rem; }

.svg__heading {
  width: 100%;
  height: 100%; }

.svg__text--main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 15rem;
  object-fit: cover;
  clip-path: url(#svgTextPath); }

.list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  flex-wrap: wrap; }
  @media only screen and (max-width: 600px) {
    .list {
      flex-direction: column; } }

.list__items:nth-child(2n+1) {
  flex: 0 1 60%; }
  @media only screen and (max-width: 600px) {
    .list__items:nth-child(2n+1) {
      flex: 0 1 50%; } }

.list__items:nth-child(2n) {
  flex: 0 1 25%; }
  @media only screen and (max-width: 600px) {
    .list__items:nth-child(2n) {
      flex: 0 1 50%; } }

.card {
  width: 280px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15); }
  .card__img {
    height: 23rem;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-image: url(../img/gears.jpg); }
  .card__title {
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    margin: 1rem 0; }
  .card__list {
    list-style: none;
    display: flex;
    justify-content: space-between; }
  .card__item {
    display: flex; }
  .card__link:link, .card__link:visited {
    text-decoration: none;
    width: 7rem;
    background-color: #F00;
    border-radius: 3px; }
  .card-svg__icon {
    width: 100%;
    height: 3rem;
    fill: black; }

.header {
  height: 200px;
  width: 100%;
  position: relative;
  font-family: "Lobster", cursive; }

.header-box {
  width: 50rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.xspace {
  height: 25px;
  width: 100%;
  background-color: rgba(85, 107, 47, 0.2); }

.gear {
  display: flex;
  justify-content: space-between; }
  .gear__box {
    width: 100px;
    height: 200px; }
  .gear__image--1 {
    width: 100px;
    height: 200px; }
  .gear__image--2 {
    width: 100px;
    height: 200px; }

.project__container {
  display: flex;
  flex-wrap: wrap; }
